@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

*body {
  margin: 0;
}

:root {
  --red: #d01c28;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto;
  height: 72px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
  font-weight: 600;
  font-size: 16px;
}

button {
  all: unset;
  padding: 6px 16px;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--red);
  color: white;
}

.hero {
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 0;
}

.content h1 {
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
}

.content p{
  font-weight: 600;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

/* .online shopping{
  display: flex;
  justify-content: space-between;
  gap: 16px;
} */
